html{
  height: 100%;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
body {
  height: 100%;
  background-color: white;
}

.panel-heading{
  height: 10%;
}
.panel-body{
  background-color: white;
}
.panel-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.text_nameBtn {
  font-size: 120%;
  text-align: center;
}
.color-text {
  color: black !important;
  font-size: 170% !important;
}
.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title{
  height: 10%;
}
#slides {
  display: none
}
.slider .slides {
  background-color: white;
}
.btn-floating.btn-large {
  height: 100px;
  width: 100px;
}

.navbar {
  overflow: hidden
}
.home-btn{
  padding-bottom:   20px;
}
#bullet-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
button.btn-floating {
    height: 140px;
    width: 140px;
}

.slider{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
