html{
  height: 100%;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
body {
  height: 100%;
  background-color: white;
}
@font-face {
  font-family: myFirstFont;
  src: url('./fonts/roboto/Roboto-Light.woff');
}
.set-font{
  font-family: myFirstFont !important;
}
.panel-heading{
  height: 10%;
}
.panel-body{
  background-color: white;
}
.panel-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.text_nameBtn {
  font-size: 120%;
  text-align: center;
}
.color-text {
  color: black !important;
  font-size: 170% !important;
}
#card-information{
  height: 70%;
}
.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title{
  height: 10%;
}
#slides {
  display: none
}
.slider .slides {
  background-color: white;
}
.btn-floating.btn-large {
  height: 100px;
  width: 100px;
}

.navbar {
  overflow: hidden
}
.home-btn{
  padding-bottom:   20px;
}
#bullet-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
button.btn-floating {
    height: 140px;
    width: 140px;
    background-color: #81cfe0;
}
.btn-floating:hover {
    background-color: #F5F5F5;
}

.slider{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.square-btn {
  border-radius: 0%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
